
.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff ;
    border: 0;
    border-bottom: 1px solid #f0f0f0
}

.headerMenu {
    justify-content: center;
}

.logo {
    width: 50px;
    margin-right: 5px;
}


.title {
    display: inline;
}

.left {
    width: 160px;
    height: inherit;
    float: left;
    top: 50%;
    bottom: 50%;
}

.right {
    width: 160px;
    height: inherit;
    float: right;
    top: 50%;
    bottom: 50%;
}