$blueLight: #64b5f6;
$blueMedium: #1e88e5;
$blueDark: #0d47a1;

$yellowLight: #fff176;
$yellowMedium: #fdd835;
$yellowDark: #f57f17;

$greenLight: #81c784;
$greenMedium: #43a047;
$greenDark: #1b5e20;

$redLight: #e57373;
$redMedium: #e53935;
$redDark: #b71c1c;

$orangeLight: #ffb74d;
$orangeMedium: #fb8c00;
$orangeDark: #e65100;

$centerWidth: 1050px;